.button {
  display: block;
  padding: 16px 32px;
  color: var(--color-primary-light);
  border-radius: 8px;
  border: 2px solid var(--color-brand-normal);
  background: var(--color-brand-normal);
  cursor: pointer;
  font-weight: 600;

  &:hover {
    color: var(--color-brand-dark);
    background-color: var(--color-primary-light);
  }
}
